body {
  font-family: sans-serif;
  margin: 40.0px 40.0px 40.0px 40.0px;
  max-width: 1280px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.bod p {
  margin: 20.0px 20.0px 20.0px 20.0px;
}
.bod h1 {
  margin: 20.0px 20.0px 20.0px 20.0px;
}
.bod h2 {
  margin: 20.0px 20.0px 20.0px 20.0px;
}
